.main {
    /* display: flex; */
    align-items: center;
    justify-content: center;
}

.main div {
    /* display: left; */
    align-items: center;
    /* justify-content: center; */
    width: 100px;
    height: 100px;
}
.scenarios div{
     float: left;
}
.h1 {
    color:lightcoral;
}