.main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
}

.h1 {
    color:lightcoral
}